<% include ./partials/_header %>
  <main>
    <% include ./partials/_form %>
    <h1>Welcome to Pollite</h1>
    <p>
      Wondering what your friends want to do on the weekend? What type of pizza to order for the office or keg of beer with your college buddies? Pollite is your fun and easy solution! Simply enter your question and a list of options and send the link to your intended recipients. They vote and you track the most popular option!
    </p>
  </main>
<% include ./partials/_footer %>
